/* Couleurs */
/* Polices */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  margin: 0px;
  opacity: 1;
  animation-name: opacity;
  animation-duration: 4s; }

/* @keyframes opacity {
	0% {opacity: 0}
	100%{opacity: 1}
} */
ul {
  list-style: none; }

.titre__article {
  margin-left: 5%;
  margin-bottom: 28px; }

/* Header */
.logo {
  display: block;
  margin: 15px auto 15px auto;
  width: 50%; }

.position {
  display: flex;
  background-color: #D3D3D3;
  width: 100%;
  box-shadow: 1px -3px 12px -2px rgba(56, 54, 56, 0.53);
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center; }
  .position p {
    color: #535353;
    font-weight: 400; }
  .position .fa-map-marker-alt {
    margin-top: auto;
    margin-bottom: auto; }
  .position .lieu {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto; }

.explore {
  background-color: #eaeaea;
  width: 100%;
  margin: auto;
  padding-bottom: 40px; }
  .explore h4 {
    margin-top: 0;
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%; }
  .explore h4, .explore p {
    text-align: center; }
  .explore p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 1.1em; }
  .explore .btn__accueil {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    width: 80%;
    border-radius: 40px;
    color: white;
    padding: 15px 0px 15px 0px;
    font-weight: 400;
    font-size: 0.9em; }

/* fin header */
.main {
  background-color: #eaeaea;
  padding-top: 10px;
  padding-bottom: 40px; }

.fa-mobile-alt {
  padding-left: 29px !important;
  margin-right: 30px !important;
  color: #999999; }

.fa-store {
  padding-left: 23px !important;
  margin-right: 24px !important;
  color: #9356DC; }

.fa-list-ul {
  padding-left: 25px !important;
  margin-right: 26px !important;
  color: #999999; }

.choose {
  background-color: #eaeaea;
  font-size: 0.7em;
  border-radius: 20px;
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 20px;
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }
  .choose i {
    padding-left: 30px;
    margin-right: 30px; }
  .choose p {
    margin-top: auto;
    margin-bottom: auto; }
    .choose p:nth-child(1) {
      background-color: #9356DC;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      margin-left: -10%;
      padding: 3px;
      text-align: center;
      color: white; }
  .choose:nth-child(3) {
    background-color: rgba(147, 86, 220, 0.3); }
  .choose strong {
    margin-top: auto;
    margin-bottom: auto; }

.fonctionnement {
  padding-bottom: 60px; }

/* Fonctionnement */
 /*.fonctionnement {
	p {
		background-color: $grisclair;
		padding: 20px;
		font-size: 0.7em;
		text-align: center;
		border-radius: 20px;
		box-shadow: 0px 10px 22px 0px rgba(0,0,0,0.2);
	}
	div {
		width: 90%;
		margin: auto;
	}
}


/* Restaurants */
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  justify-content: space-between;
  width: 100%;
  padding-left: 0px;
  align-items: center;
  margin-bottom: 0px;
  position: relative; }
  .restaurants .new {
    position: absolute;
    left: 78%;
    top: 2%;
    transform: translate(-50%, -50%);
    background-color: #99e2d0;
    color: #129272;
    z-index: 1000;
    padding: 8px;
    font-weight: 400; }
  .restaurants .new2 {
    position: absolute;
    left: 78%;
    top: 27%;
    transform: translate(-50%, -50%);
    background-color: #99e2d0;
    color: #129272;
    z-index: 1000;
    padding: 8px;
    font-weight: 400; }
  .restaurants img {
    width: 100%;
    height: 78%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px; }
  .restaurants li {
    background-color: white;
    margin-bottom: 20px;
    width: 92%;
    border-radius: 20px;
    height: 270px;
    overflow: hidden;
    padding-bottom: 2px; }
    .restaurants li h5, .restaurants li p {
      margin-left: 2%;
      margin-bottom: 1%;
      margin-top: 1%;
      font-size: 0.7em; }
  .restaurants a {
    height: 100%;
    width: 100%; }

/* Footer */
footer {
  font-size: 0.7em;
  background-color: #353535;
  color: white;
  padding-top: 20px;
  padding-bottom: 40px; }
  footer a {
    text-decoration: none;
    color: white; }
  footer h4 {
    font-family: Shrikhand;
    margin-left: 6%;
    font-weight: normal;
    margin-top: 0px;
    font-size: 1.3em;
    margin-bottom: 16px; }
  footer ul {
    margin-bottom: 0px; }
  footer li {
    margin-bottom: 5px; }

/* animation  */
.heart {
  display: flex;
  height: 70px;
  width: 70px;
  float: right;
  transform: scale(0.3);
  margin-top: -10px; }

.heart .fill {
  display: block;
  height: 70px;
  left: -1px;
  overflow: hidden;
  position: absolute;
  top: -4px;
  width: 70px;
  z-index: 3;
  -webkit-transition: height 2s ease-in-out;
  -moz-transition: height 2s ease-in-out;
  -o-transition: height 2s ease-in-out;
  -ms-transition: height 2s ease-in-out;
  transition: height 2s ease-in-out; }

.heart .fill:before, .heart .fill:after {
  background: #FFFFFF;
  border-radius: 85px 60px 0 0;
  content: "";
  height: 59px;
  left: 37px;
  position: absolute;
  top: 6px;
  width: 36px;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 85px 60px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

.heart .fill:after {
  left: 1px;
  -webkit-transform: rotate(45deg);
  border-radius: 45px 60px 0 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.heart .outline {
  position: relative;
  margin-left: 8px; }

.heart .outline:before, .heart .outline:after {
  position: absolute;
  content: "";
  left: 28px;
  top: 1px;
  width: 39px;
  height: 62px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 85px 60px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

.heart .outline:after {
  left: -11px;
  -webkit-transform: rotate(45deg);
  border-radius: 45px 60px 0 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.heart:hover .fill {
  height: 0px; }

strong {
  display: block;
  margin-top: 100%; }

.loader-section {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #222222;
  z-index: 100;
  visibility: hidden; }

.section-left {
  left: 0;
  color: white;
  font-family: Shrikhand;
  font-size: 2em;
  animation-name: gauche;
  animation-duration: 3s; }
  .section-left strong {
    text-align: right; }

@keyframes gauche {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    transform: translateX(-100%); } }
.section-right {
  right: 0;
  color: white;
  font-family: Shrikhand;
  animation-name: droite;
  animation-duration: 3s;
  font-size: 2em; }

@keyframes droite {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    transform: translateX(100%); } }
@media screen and (min-width: 425px) and (max-width: 768px) {
  .explore .btn__accueil {
    width: 40%; }

  .titre__article {
    text-align: center; }

  .choose p:nth-child(1) {
    margin-left: -6%; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .explore .btn__accueil {
    width: 40%; }

  .titre__article {
    margin-left: 0;
    text-align: center; }

  .choose {
    width: 40%;
    margin-bottom: 30px; }

  .restaurants li {
    height: 300px; }
  .restaurants .new {
    left: 85%; }
  .restaurants .new2 {
    left: 85%; } }
@media screen and (min-width: 1024px) and (max-width: 5000px) {
  .logo {
    width: 30%; }

  .titre__article {
    margin-left: 0;
    text-align: center; }

  .explore .btn__accueil {
    width: 28%; }

  .choose {
    width: 26%; }

  .choose p:nth-child(1) {
    margin-left: -8%; }

  .restaurants {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .restaurants li {
      width: 45%; }
    .restaurants .new {
      top: 3%;
      left: 89%; }
    .restaurants .new2 {
      left: 89%;
      top: 53%; } }

/*# sourceMappingURL=style.css.map */
