/* Couleurs */
/* Polices */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0px; }

ul {
  list-style: none;
  padding-left: 0px; }

header {
  display: flex; }
  header .alogo {
    width: calc(100% - 40px);
    text-align: center;
    margin-top: auto; }
  header .arrow {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%; }

img {
  width: 100%;
  position: relative;
  z-index: -1; }

.titre {
  display: flex;
  justify-content: space-between;
  margin-top: -76px; }

h4 {
  margin-left: 5%;
  font-family: Shrikhand;
  font-size: 1.1em;
  font-weight: 400; }

h5 {
  margin-bottom: 0px;
  margin-left: 5%;
  font-weight: 300; }

.underline {
  padding: 2px;
  background-color: #99e2d0;
  width: 12%;
  margin-bottom: 15px;
  margin-top: 2px;
  margin-left: 5%; }

.fa-arrow-left {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%; }

.logo {
  width: 50%;
  vertical-align: middle; }

.btn__commander {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 40px;
  color: white;
  margin: auto;
  display: block;
  text-align: center;
  padding: 20px;
  width: 40%;
  margin-top: 75px;
  margin-bottom: 50px; }

article {
  background-color: #eaeaea;
  z-index: 100;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding-bottom: 10%; }
  article i {
    color: white;
    border-radius: 0px 15px 15px 0;
    float: right;
    margin-right: -8%;
    margin-top: 10px;
    padding: 24px; }
  article ul {
    animation-name: fade-in; }
    article ul:nth-child(4) {
      animation-duration: 2.0s; }
    article ul:nth-child(7) {
      animation-duration: 4.0s; }
    article ul:nth-child(10) {
      animation-duration: 6s; }
@keyframes fade-in {
  0% {
    transform: translateY(40px);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
  article li {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 7px;
    padding-bottom: 10px;
    overflow: hidden;
    height: 50px; }
    article li .testanim {
      width: 100%;
      display: inline-block; }
      article li .testanim:hover {
        transition: ease-in-out;
        width: calc(100% - 72px); }
    article li .div_anim {
      background-color: #99e2d0;
      color: red;
      height: 100px;
      width: 60px;
      float: right;
      margin-right: -3%;
      margin-top: -20px;
      display: none !important; }
    article li:hover .div_anim {
      animation-name: test;
      animation-duration: 2s;
      display: inline-block !important; }
@keyframes test {
  0% {
    transform: translateX(150px); }
  100% {
    transform: translateX(0px); } }
    article li:hover i {
      animation-duration: 2s;
      animation-name: rotation; }
@keyframes rotation {
  100% {
    transform: rotate(1440deg); } }
h6 {
  margin: 0px;
  width: 100%;
  height: 20%;
  margin-left: 2%;
  font-size: 0.8em;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

strong {
  font-size: 0.7em;
  font-weight: 300; }
  strong:nth-child(1) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  strong:nth-child(2) {
    font-weight: 400;
    color: #4f4e4e; }

.under {
  display: flex;
  width: 96%;
  justify-content: space-between;
  margin-left: 2%; }

footer {
  font-size: 0.7em;
  background-color: #353535;
  color: white;
  padding-bottom: 20px; }
  footer a {
    text-decoration: none;
    color: white; }
  footer h4 {
    font-family: Shrikhand;
    margin-left: 6%;
    font-weight: normal;
    margin-top: 0px; }
  footer ul {
    margin-bottom: 0px; }
  footer li {
    margin-bottom: 5px; }

#heart {
  display: flex;
  height: 70px;
  width: 70px;
  transform: scale(0.3);
  margin-top: 21px; }

#heart .fill {
  display: block;
  height: 70px;
  left: -1px;
  overflow: hidden;
  position: absolute;
  top: -4px;
  width: 70px;
  z-index: 3;
  -webkit-transition: height 2s ease-in-out;
  -moz-transition: height 2s ease-in-out;
  -o-transition: height 2s ease-in-out;
  -ms-transition: height 2s ease-in-out;
  transition: height 2s ease-in-out; }

#heart .fill:before, #heart .fill:after {
  background: #FFFFFF;
  border-radius: 85px 60px 0 0;
  content: "";
  height: 59px;
  left: 37px;
  position: absolute;
  top: 6px;
  width: 36px;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 85px 60px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

#heart .fill:after {
  left: 1px;
  -webkit-transform: rotate(45deg);
  border-radius: 45px 60px 0 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

#heart .outline {
  position: relative;
  margin-left: 8px; }

#heart .outline:before, #heart .outline:after {
  position: absolute;
  content: "";
  left: 28px;
  top: 1px;
  width: 39px;
  height: 62px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 85px 60px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

#heart .outline:after {
  left: -11px;
  -webkit-transform: rotate(45deg);
  border-radius: 45px 60px 0 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

#heart:hover .fill {
  height: 0px; }

@media screen and (min-width: 425px) and (max-width: 768px) {
  img:nth-child(2) {
    height: 350px; }

  .btn_commander {
    width: 30%; } }
@media screen and (min-width: 768px) and (max-width: 1024px) {
  img:nth-child(2) {
    height: 350px; }

  .btn_commander {
    width: 25%; }

  .underline {
    width: 9%; } }
@media screen and (min-width: 1024px) and (max-width: 5000px) {
  img:nth-child(2) {
    height: 700px; }

  .btn__commander {
    width: 15%; }

  .underline {
    width: 28%; }

  .bigflex {
    display: flex;
    justify-content: space-evenly; }

  .logo {
    width: 30%; }

  .article li {
    width: 99%; } }

/*# sourceMappingURL=style.css.map */
